<div class="centered-content">
    <div class="model-box">
        <h1 class="title">
            Update a task
        </h1>
        <form #u = "ngForm" (ngSubmit)="onUpdate(u)" novalidate>
          <div class="field">
            <label class="label">id</label>
            <div class="control">
              <input name="id" class="input" ngModel type="text" placeholder="Create new task">
            </div>
          </div>
        <div class="field">
          <label class="label">Task name</label>
          <div class="control">
            <input name="title" class="input" ngModel type="text" placeholder="Create new task">
          </div>
        </div>
        <div class="field">
          <label class="label">Employee</label>
          <div class="control">
            <input name="worker" class="input" ngModel  type="text" placeholder="John">
          </div>
        </div>
        <div class="field">
          <label class="label">Time spent</label>
          <div class="control">
            <input name="time_spent" class="input" ngModel type="text" placeholder="Input hours spent">
          </div>
        </div>
        <div class="create">
          <button class="button is-primary has-text-white">Create</button>
      </div>
        </form>

        <div class="cancel">
        <button routerLink="/tasks" class="button">Back</button>
        </div>
        
        
    </div>
</div>
